body {
    margin: 0;
    font-family: 'Open Sans','Roboto', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 10px white;
    font-size: 2rem;
}


img{
    height: 100%;
    width: 100%;
    filter: blur(1.5px);
}

.header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    background-image: url("hospital.jpg");
    filter: blur("2px");
    border: 2px solid black;
    border-radius: 10px;
    padding: 30px 40px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    text-shadow: 0 0 3px black;
}

#increment-btn {
    background:#0b1354;
}

#increment-btn:hover {
    background: #2477BF;
}
#save-btn {
    background: #f765a3;
}

#save-btn:hover {
    background: #2477BF;
}
